<header>
  <ul id="modes-dropdown" class="dropdown-content">
    <li><a href="#/userinfo">vs begginer</a></li>
    <li><a href="#/userinfo">vs expert</a></li>
  </ul>
  <nav role="navigation">
    <div class="nav-wrapper container">
      <a href="index.html" class="brand-logo left">RPS</a>
      <ul class="right">
        <li><a class="dropdown-button" href="#" data-activates="modes-dropdown">game modes</a></li>
        <li><a href="#">stats</a></li>
      </ul>
    </div>
  </nav>
</header>
<!-- ===============main================ -->
<main>
  <maincard></maincard>
</main>
<!-- =============footer================ -->
<footer>
  <div class="container main-footer-container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
<!-- <div class="header-container">
    <header>
        <h1 class="title">My Angular2 + TypeScript App</h1>
    </header>
</div>

<div class="main-container">
    <router-outlet></router-outlet>
</div>

<div class="footer-container">
    <footer>
        <a routerLink="/">Home</a> | <a routerLink="/about" routerLinkActive="active">About</a>
        <span>&copy; 2016</span>
    </footer>
</div>
 -->
